
body {
	background-image: linear-gradient(to bottom, rgba(52, 52, 52, 0.7), rgba(38, 38, 38, 0.9)), url('./images/chcolate.avif');
	background-size: cover;
	background-position: center;
	height: 100vh;
  }
  
  
  nav {
	background-color: rgb(255, 255, 255);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	overflow:scroll;
	height: 70px;
	display: flex;
	align-items: center;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  }
  .logo {
	float: right;
	margin-top: 5px;
	margin-left: 5px;
  }
  .search-container {
	display: flex;
	align-items: center;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
	margin-left: 50%;
  }
  input[type="search"] {
	margin-right: 10px;
  }
  .nav-links {
	margin-left: 80%;
	padding: 0;
	text-decoration: none;
	
  }
  .nav-links li {
	display: inline-block;
	margin-right: 20px;
	font-size: 20px;
	text-decoration: none!important;
	font-family: 'Lobster', cursive;
  }
  .container {
	margin-top: 80px;
	display: flex;
	flex-wrap: wrap;
  }
  
  .column {
	flex: 1;
	padding: 20px;
	box-sizing: border-box;
	border-radius: 7%;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  }
  
  .text {
	background-color: rgba(241, 241, 241, 0.6);
	font-family: 'Lobster', cursive;
	font-size: 20px;
	padding: 20px;
	line-height: 1.5;
	color: #333;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
	
  }
  .text h2 {
	margin-top: 0;
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
  }
  
  .image img {
	width: 100%;
	height: auto;
	border-radius: 7%;
  }
  footer{
	margin-top: 50px;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3); 
	border-radius: 10px;
	background-color: rgb(68, 47, 21);
	height: auto; width: 100vw;
	font-family: 'Lato', sans-serif;
	padding-top: 40px;
	color: #fff;
	}
  .fcontent{
	display: flex;
	align-items: center;
	justify-content: center; 
	flex-direction: column;
	text-align: center
  }
  .fcontent h3{
	font-size: 1.8rem; 
	font-weight: 400;
	text-transform: capitalize; 
	line-height: 3rem;
  }
  .fcontent{ 
	max-width: 500px;
	margin: 10px auto; 
	line-height: 28px; 
	font-size: 14px;
  }
  .socials{
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1rem 0 3rem 0;
  }
  .socials li{
	margin: 0 10px;
  }
  .socials a{
	text-decoration: none;
	color: #fff;
  }
  .socials a i{
	font-size: 1.1rem;
	transition: color .4s ease;
  }
  .fbottom{
	background-color: rgb(40, 26, 10);
	width: 100vw;
	padding: 20px 0; 
	text-align: center;
  }
  .fbottom p{ 
	font-size: 14px; 
	word-spacing: 2px;
   text-transform: capitalize;
  }
  .footer-bottom span{
	text-transform: uppercase;
	opacity: .4; 
	font-weight: 200;
  }
  
  
  
  
